page-password {
	.background{
		background-color: #f2eee7;
	}
}

h1{
	font-size: 23px;
    font-weight: 400;
    line-height: 57.6px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: chaparral-pro,serif;
    color: #9d7c37;
    margin-top: .75em;
    margin-bottom: .25em;
}
h2 {
	font-size: 18px;
    font-weight: 400;
    color: #9d7c37;
    margin-top: .75em;
    margin-bottom: .25em;
}
a {
	color: #2e6748;
}